<!doctype html>
<html>
    
    <head>
        <title>What is The Greatest Thing in The World?</title>
        <link href='https://fonts.googleapis.com/css?family=Anton'
        rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript">
			function validateForm()
			{
			var x=document.forms["MyForm"]["greatest"].value;
			if (x==null || x=="")
			  {
			  alert("WHAT IS THE GREATEST THING IN THE WORLD?");
			  return false;
			  }
			}
        </script>
        <style>
            body {
                font-family:'Anton';
                margin-left:6%;
                text-transform:uppercase;

            }
            h1 {
                font-size:720%;
                line-height:95%;
                margin:5% 0 0 0;
            }
            #greatest-input {
                font-family:'Anton';
                font-size:720%;
                text-transform:uppercase;
                width:90%;
                color:blue;
                border:none;
                outline:none;
            }
        </style>
    </head>
    
    <body>
        <h1>What is
            <br/>the greatest Thing
            <br/>in the World?</h1>

        <form name="MyForm" action='/list' method="post" onsubmit="return validateForm()" >
            <input type="text" name="greatest" id="greatest-input" placeholder=" " autofocus maxlength=20 
            onblur="" ="javascript:this.value=this.value.toUpperCase()"
            onkeydown="javascript:this.value=this.value.toUpperCase()" 
            onkeyup="javascript:this.value=this.value.toUpperCase()" 
            onkeypress="javascript:this.value=this.value.toUpperCase()" >
            <br/>
            <input type="submit" value="Submit">
        </form>
    </body>

</html>